body {
  font-family: 'Marvel', sans-serif;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.icon-set {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.vote-icon {
  display: flex;
  width: 33%;
}

.vote-icon img {
  display: flex;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.jumbotron {
  padding: 2rem;
  border-radius: 0px;
  background: white;
}

.container {
  max-height: 100vh;
  width: 100vw;
  padding: 0;
  border-radius: 0;
}

.results-wrapper {
  padding-bottom: 2em;
}

.thor-color {
  background-color: #7AAFD6;
}

.cap-color {
  background-color: #7B160D;
}

.panther-color {
  background-color: #5D328D;
}

.label {
  font-size: 1em;
}