$dark-grey: #141414;
$medium-grey: #555;
$light-grey: #F8F8F8;
$primary: #244b7b;
$accent: #ff834a;
$link: #fff399;
$shadow: #a8a8a8;

.add-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.add-button {
  button {
    font-size: 1em;
    padding: 10px;
    border: 2px solid $primary;
    outline: none;
    background: transparent;
    color: $primary;
    transition: 0.3s;
    cursor: pointer;
    border-radius: 50px;

    &:hover {
      transition: 0.3s;
      color: $light-grey;
      background: $primary;
    }
  }
}