$dark-grey: #141414;
$medium-grey: #555;
$light-grey: #F8F8F8;
$primary-blue: #244b7b;
$accent-blue: #8acbff;
$link: #fff399;


html, body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  background: $primary-blue;
}

.app-container {
  box-sizing: border-box;
  // border: 2px solid yellow;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 125px;

  font-family: 'Montserrat', sans-serif;

  h1 {
    // border: 1px solid blue;
    width: 70vw;
    padding: 10px;
    margin-left: 20px;
    color: $light-grey;
  }
  
  h4 {
    // border: 1px solid blue;
    width: 70vw;
    padding: 0px 10px;
    margin-top: -20px;
    margin-left: 20px;
    color: $accent-blue;
  }
  
  p {
    color: $light-grey;
  
    a {
      color: $link;
      text-decoration: none;
  
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
