$card-blue: #102a49;
$positive: #7cd382;
$negative: #e86666;

.card-container {
  max-width: 70vw;
  height: 100%;
  
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  border: 1px solid $card-blue;
  box-sizing: border-box;

  box-shadow: 2px 2px 10px $card-blue;
  background: $card-blue;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding-left: 10px;
  flex: 1 1 45%;
  min-width: 300px;
  margin: 10px;
  transition: 0.5s;
  
  &:hover {
    transform: translateY(-5px);
    transition: 0.3s;
  }
}

.coin-data {
  display: flex;
  flex-direction: column;
  margin-left: 50px;

  p:nth-of-type(2) {
    font-size: 2em;
    margin: 0;
  }
}

.pos {
  color: $positive !important;
}

.neg {
  color: $negative !important;
}

img {
  max-width: 75px;
  padding-left: 20px;
  padding-right: 0;
}