.markdown-container {
  // border: 2px solid blue;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 20px;

  .markdown-input, .markdown-output {
    width: 45%;
    height: 100%;
    min-width: 300px;
    margin: 0px 20px;
  }

  .div-title {
    color: #5fa817;
    font-size: 2.5em;
    padding: 0;
    margin-bottom: 10px;
  }
  
  .markdown-input {
    
    textarea {
      width: 100%;
      resize: vertical;
    }
  }
  
  .markdown-output {
    min-height: 400px;
    color: #000;

    a {
      color: #e3a500;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }

    code {
      background: pink;
      color: #c7254e;
    }
  }
}