$dark-grey: #141414;
$medium-grey: #555;
$light-grey: #F8F8F8;
$light-medium-grey: #b8b8b8;
$primary: #136613;
$accent: #52371e;
$link: #fff399;
$transition: 0.3s;

.leaderboard-container {
  border: 1px solid $light-medium-grey;
  font-family: 'Fira Sans Extra Condensed', sans-serif;
  width: 90vw;
  margin: 3em 0em;

  h1 {
    text-align: center;
    background: $primary;
    color: $light-grey;
    padding: 10px 0px;
    margin-top: 0;
  }

  .fc-logo {
    color: $light-grey;
    padding: 0px 5px;
    transition: $transition;

    &:hover {
      color: $accent;
    }
  }

  table {
    width: 100%;
    border-spacing: 0;
  }

  td {
    text-align: center;
    padding: 10px 0px;
    margin: 0;
      
    :nth-of-type(1) {
      border-radius: 50%;
      vertical-align: middle;
    }

    img {
      margin-right: 20px;
    }
  }

  .user-display {
    text-align: left;
    padding-left:  20px;

    a {
      color: $dark-grey;
      text-decoration: none;

      &:hover {
        color: $primary;
      }
    }
  }

  th {
    background: $light-grey;
    color: $accent;
    font-size: 1.5em;
  }

  tr:nth-child(odd) {
    background: $light-medium-grey;
  }

  .toggle-score {
    cursor: pointer;
    border: none;
    outline: none;
    background: transparent;
    color: $accent;
    font-family: 'Fira Sans Extra Condensed', sans-serif;
    font-size: 1em;
    font-weight: bold;
    padding: 10px;
    transition: $transition;
    
    &:hover {
      color: $primary;
      transition: $transition;
    }
  }
}
