$dark-grey: #141414;
$medium-grey: #555;
$light-grey: #F8F8F8;

footer {
  height: 75px;
  width: 100%;
  // position: fixed;
  bottom: 0;
  left: 0;
  padding: 25px 0px;
  background: $dark-grey;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  ul {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
  
    li {
      list-style-type: none;
    }
  
    a {
      font-size: 1.5em;
    }
  
    i {
      width: 1em;
      padding: 0px 10px;
      text-align: center;
      color: $medium-grey;
  
      &:hover {
        color: $light-grey;
      }
    }
  }
  
  p {
    color: $medium-grey !important;
    font-family: 'Montserrat', sans-serif;

    span {
      color: $medium-grey;
    }
  
    span:hover {
      // color: $light-grey;
      // cursor: pointer;
    }
  }  
}
